.wrapper{
  display: flex;
  background-color: white;
}
.header {
  height: 280px;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.site-image {
  margin-right: 20px;
}

.site-slogan {
  width: 450px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;

}

h2 {
  font-size: 40px;
}
